@using MarketApplication.Models;

@model Urun

@{
    ViewBag.Title = Model.Ad;
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/assets/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>@Model.Ad</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <span>@Model.Ad</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             src="@Model.Fotograf" alt="">
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>@Model.Ad</h3>
                    <div class="product__details__price">₺@Model.Fiyat</div>
                    <p>
                        @Model.Aciklama
                    </p>
                    <div class="product__details__quantity">
                        <div class="quantity">
                            <div class="pro-qty">
                                <input type="text" value="1" id="adet">
                            </div>
                        </div>
                    </div>
                    <a href="#" id="urunSatinAl" class="primary-btn" UrunId="@Model.UrunId" event="SepeteEkle">Sepete Ekle</a>
                    <ul>
                        <li>
                            <b>Paylaş</b>
                            <div class="share">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                               aria-selected="false">Yorumlar <span></span></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="product__details__tab__desc">
                                @foreach (var item in Model.Yorumlar)
                                {
                                    <div class="">
                                        <h4 class="">@item.Kullanici.AdSoyad</h4>
                                        <div class="card-body">
                                            @item.YorumIcerik
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>

                        <form action="/yorum/ekle" method="post">
                            <div class="form-group">
                                <textarea name="YorumIcerik" placeholder="yorumunuz" class="form-control"></textarea>
                            </div>
                            <input type="hidden" name="UrunId" value="@Model.UrunId"/>

                            <button type="submit" class="btn btn-primary">Gönder</button>
                        </form>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->

@section scripts{

    <script src="~/Scripts/Custom/Urun.js"></script>
}