@using MarketApplication.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<MagazaKategori> mKategoriler = (List<MagazaKategori>)ViewBag.Kategoriler;
    List<Kategori> urunKategoriler = (List<Kategori>)ViewBag.UrunKategoriler;
    List<Urun> urunler = (List<Urun>)ViewBag.Urunler;


}
@Html.Partial("Kategoriler")


<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                @foreach (var item in mKategoriler)
                {
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="@item.Resim">
                            <h5><a href="#">@item.Ad</a></h5>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->
<!-- Featured Section Begin -->

<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Önerilen Ürünler</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">Hepsi</li>
                        @foreach (var item in urunKategoriler)
                        {
                            <li data-filter=".@item.Ad.ToLower().Replace(" ","-")">@item.Ad</li>
                        }


                    </ul>
                </div>
            </div>
        </div>

        <div class="row featured__filter">
            @foreach (var item in urunler)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges @item.Kategori.Ad.ToLower().Replace(" ","-")">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="@item.Fotograf">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="/urun/detay?UrunId=@item.UrunId">@item.Ad</a></h6>
                            <h5>₺@item.Fiyat</h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

